/*TODO add alt text same to http://dimox.name/alt_text_for_images_with_css/*/
a:hover.crud-del-pic, a:hover.crud-edit-pic, a:hover.crud-view-pic, a:hover.crud-detail-pic  {
    border: 1px solid black;
}

.crud-del-pic, .crud-edit-pic, .crud-view-pic, .crud-detail-pic  {
    background: no-repeat center transparent;
    display: block;
    width: 32px;
    height: 16px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid silver;
    float: left;
}

TABLE.crud-links TBODY TR TD {
    border: 0px;
}

.crud-detail-pic{
    background-image: url(../images/detail.png);
}

.crud-view-pic{
    background-image: url(../images/view.png);
}

.crud-edit-pic {
    background-image: url(../images/edit.png);
}

.crud-del-pic{
    background-image: url(../images/delete.png);
}

.crud-edit, .crud-view, .crud-del, .crud-add, .crud-list {
    display: block;
}

label:after {
    content: ":";
}

/*form label, form input {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

form input {
    width: 10em;
}

form label, form div.t-submit input {
    width: 10em;
    height: auto;
    margin-right: 1em;
    float: left;
    clear: both;
}
*/

/*form input[type="submit"] {
    margin-left: 13em;
    width: auto;	
}

div.t-crud-empty-grid, div.t-crud-message {
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 2px;
    border-style: solid;
}

div.t-crud-empty-grid {
    border-color: red;
}

div.t-crud-message {
    border-color: blue;
}

div.t-crud-emptygrid p, div.t-crud-message p{
    padding: 0.5em;
    margin: 0;
    width: auto;
}

form input[type="checkbox"], form input[type="radio"] {
    width: auto;
}

td.action {
    min-width: 3em;
    text-align: center;
}

form div.t-submit {
    padding: 1em;
    text-align: right;
}

dl {
    display: block;
}

div.t-crud-links {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    float: none;
    clear: both;
} 

div.t-crud-links div {
    display: block;
}

div.t-crud-page-links > div {
    display: block;
    clear: both;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table.t-data-grid td.level1 {
    padding-left: 1em;
}

table.t-data-grid td.level2 {
    padding-left: 2em;
}

table.t-data-grid td.level3 {
    padding-left: 3em;
}

table.t-data-grid td.level4 {
    padding-left: 4em;
}

table.t-data-grid td.level5 {
    padding-left: 5em;
}

ul.t-crud-tree-select {
    margin: 0;
    float: left;
    clear: none;
    list-style-position: inside;
    padding-left: 0;
}

ul.t-crud-tree-select label, ul.t-crud-tree-select input {
    width: auto;
    display: inline;
    clear: none;
    float: none;
}

ul.t-crud-tree-select label:after {
    content: "";
}

ul.t-crud-tree-select li.disabled {
    color: grey;
}

ul.t-crud-tree-select li.checked ul input, ul.t-crud-tree-select li.checked ul label {
    background-color: white;
}
*/
:checked {
    background-color: blue;
}

table.nb tbody tr td{
    border: none;
}
