/* ОБЩЕЕ */
/* Картинка с изображением университета на главной странице */
#sp_logo1{
    background-image: url(../images/klas_pryvat_univer.jpg);
    width: 500px;
    height: 325px;
    display: none;
}
/* Текст приветствия на главной странице */
#wlctocpu{
    text-align: center;
    display: none;
}
/* Ссылки в MenuNavigator */
.post > .entry > div > a{
    color: black;
    font-weight: bold;
    font-size: 10pt;
}
/* Ссылки в MenuNavigator при наведении */
.post > .entry > div > a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
/* Название страницы */
div.title h2{
    font-size: 26pt;
}
/* Стиль левой части(наименований свойств в beandisplay) */
dt{
    font-weight: bold;
}

/* ЧАСТЬ 1 Grid */
/* ЧАСТЬ 1.1 Ячейки Grid */
/* Форматирование ячеек заголовков для Grid, выбора страниц в Grid */
table.t-data-grid thead tr th,
.t-data-grid-pager a,
.topusername,
.td-user-logout,
.t-palette-title{
    text-decoration: none;
    background-image: url(../images/table_head.png);
    color: #15428b;
    white-space: normal;
}
/* Форматирование текста заголовков для Grid */
table.t-data-grid thead tr th a,
.t-palette-title{
    font-size: 10pt;
    color: #15428b;
    text-decoration: none; 
}
/* Форматирование ячеек Grid */
table.t-data-grid tbody tr td{
    font-size: 9pt;
    color: black;
    background-color: #e5ecf5;
}
/* Выделение строки в Grid при наведении курсора мыши */
table.t-data-grid tbody tr:hover td{
    background-color: #fffff3;
}
/* Выделение ячейки с классом name, disciplineNumber в Grid */
table.t-data-grid td.name, table.t-data-grid td.disciplineNumber{
    background-color: #d8e3f9
}
/* Выделение серым цветом ячейки с кнопками в Grid */
table.t-data-grid td.action{
    background-color: #d7d7d7;
}
/* Выравнивание данных в некоторых колонках Grid по центру */
.t-data-grid .code,                          .t-data-grid .isObsolete,
.t-data-grid .isTrainingDirection,           .t-data-grid .isKnowledgeArea,
.t-data-grid .stationaryStudentLicenseQuantity,
.t-data-grid .correspondenseStudentLicenseQuantity,
.t-data-grid .termination,                   .t-data-grid .eduPlanSemester,
.t-data-grid .isExam,                        .t-data-grid .isCredit,
.t-data-grid .isCourseWork,                  .t-data-grid .isControlWork,
.t-data-grid .licenseQuantityByEducationForm,.t-data-grid .knowledgeAreaOrTrainingDirectionName,
.t-data-grid .trainingDirectionOrSpeciality, .t-data-grid .shortName,
.t-data-grid .serial,                        .t-data-grid .firstName,
.t-data-grid .patronymicName,                .t-data-grid .surname,
.t-data-grid .academicRank,                  .t-data-grid .knowledgeAreaOrTrainingDirection
{
    min-width: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Выравнивание кнопок в Grid */
.t-data-grid .action{
    min-width: 133px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
}
/* Форматирование ячеек для названий организационных едениц */
.t-data-grid .orgUnit{
    min-width: 160px;
}
/* Форматирование ячеек для названий области знаний или направления */
.t-data-grid .knowledgeAreaOrTrainingDirectionName{
    max-width: 180px;
}

/* ЧАСТЬ 2 BeanEditor */
/* ЧАСТЬ 2.1 Кнопки в BeanEditor, BeanDisplay */
/* Формат кнопки в BeanEditor (Добавить/Изменить) */
.btnbe{
    padding:0 10px 0 10px;
    height: 25px;
    color: green;
}
/* Иконка для кнопки закрытия окна */
.btn.close span {
    background-image:url(../images/close.png);
}
/* ЧАСТЬ 2.2 Блоки в BeanEditor и BeanDisplay */
/* После input контент не должен переносится на новую строку */
.t-beaneditor-row input[type="text"]{
    display: inline;
}
/* Ограничение на select в Bean Editor */
.t-beaneditor-row select{
    max-width: 400px;
}
/* ЧАСТЬ 2.3 Другое в BeanEditor, BeanDisplay */
/* Размер шрифта в BeanEditor */
DIV.t-beaneditor{
    font-size: 9pt;
}
/* Размер шрифта и цвет для BeanDisplay */
dl.t-beandisplay{
    font-size: 9pt;
    background-color: white;
}

/* ЧАСТЬ 3 Кнопки */
/* ЧАСТЬ 3.1 Формат кнопок */
/* Определение общего стиля кнопок */
.btn {
    float:left;
    display:inline-block;
    background:url(../images/white000.jpg) repeat-x;
    font-weight:bold;
    font-size:13px;
    text-shadow:0 1px 0 #fff;
    position:relative;
    border:1px solid black;
    margin:0 10px 10px 0;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    text-decoration: none;
}
/* Определение стиля кнопок */
.btnm {
    padding:0 10px 0 50px;
    height:44px;
    line-height:44px;
    color:#999;
}
/* Определение стиль для кнопок, на которые наведена мышь */
.btn:hover {
    border-color:black;
    background:#F8F8F8;
}
/* ЧАСТЬ 3.2 Формат иконок */
/* Определение стиля иконок */
.btn span {
    display:block;
    position:absolute;
    top:6px;
    left:9px;
    width:32px;
    height:32px;
    background-repeat:no-repeat;
    background-position:center;
}
/* Иконка для кнопки подтверждения удаления записи */
.btn.delete span {
    background-image:url(../images/delete_web.png);
}
/* Иконка для кнопки отмены удаления записи */
.btn.cancel span {
    background-image:url(../images/undo.png);
}
/* Иконка для кнопки редактирования записи */
.btn.edit span {
    background-image:url(../images/edit_web.png);
}
/* Иконка для кнопки дабавления записи */
.crud-add span {
    background-image:url(../images/gtk-add.png);
}

/* ЧАСТЬ 4 Меню */
/* ЧАСТЬ 4.1 Формат меню */
/* Формат пунктов меню */
span.menutitle{
    padding: 10px;
    font: 12px Arial,Helvetica, sans-serif;
}
/* Формат ссылок в пунктах меню */
span.menutitle a{
    text-decoration: none;
    color: #ffff99;
}
/* ЧАСТЬ 5 Дополнительные модули */
/* ЧАСТЬ 5.1 Стиль отображения дополнительных модулей */
/* Стиль для отображения подсказки */
#easyTooltip{
    padding:5px;
    color: white;
    border:1px solid #ccc;
    background: #99ccff;
    font-style: italic;
    border-bottom-width: 1px;
    border-color: #ffff99;
    background-image: url(../images/ToolTipBg.gif);
}

/* ЧАСТЬ 6 Работа со слоями */
/* ЧАСТЬ 6.1 Установка слоев */
/* Кнопки в Grid */
.crud-links{
    z-index: 1;
}
/* Элементы меню */
.menuitems{
    z-index: 3;
}
/* Всплывающие подсказки валидации */
.t-error-popup{
    z-index: 100;
}

/* ЧАСТЬ 7 Работа с PropertyBlocks */
/* ЧАСТЬ 7.1 Стили для PropertyBlocks */
/* Формат левой части PB для вставки в BeanEditor */
.t-loop .f-left{
    width: 250px;
    color: #000000;
    text-align: right;
}
/* Формат отступа от левой части */
.t-loop .text{
    margin: 0 0 0 1.1em;
}
/* Контейнер, содержащий циклы в пл.уч.процесса */
#eduPlanPBContainer{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#eduPlanPBContainerTable{
    width: 100%;
    overflow-x: scroll;
}
