a.grid-page-link, span.grid-page-link{
    display:inline-block;
    vertical-align: top;
    padding:3pt;
    margin-right:1pt;
}
a.grid-page-link{
    background-color:yellow;
    opacity:0.4;
}
a.grid-page-link:hover{
    opacity:1;
}
span.grid-page-link{
    background-color:lime;
}
span.grid-page-link:hover{
    opacity:1;
}




span.grid-form-block{
    display:inline-block;
    vertical-align:top;
}
.filter{ padding: 1%; width: 48%;}
.sort{padding: 1%; width:22%;}
.view{padding: 1%; width:22%;}

table#gridTable td{
    overflow:hidden;
    width:150px;
}

div#grid_properties_header{
    background-color:#99ccff;
    padding:3px;
    font-size:11pt;
}

a#show_grid_properties,
a#hide_grid_properties{
    background-color: #99ccff;
    color:white;
    float:left;
    font-family: monospace;
    text-decoration:none;
    padding:1px;
    font-size:10pt;
    margin-right:3pt;
    width:18px;
    text-align:center;
}

span.uparrow{
    display: inline-block;
    border-bottom: 16px solid white;
    border-right: 8px solid #99ccff;
    border-left: 8px solid #99ccff;
}

span.downarrow{
    display: inline-block;
    border-top: 16px solid white;
    border-right: 8px solid #99ccff;
    border-left: 8px solid #99ccff;
}


form.grid_properties_form{
    margin-bottom: 0pt;
}

span.gridproperties{
    display:inline-block;
    width:100%;
    padding:0px;
    background-color:#c0c0c0;
    font-size:11px;
}

table.cpuGrid th{
    height:50px;
    padding:0px;
    overflow: hidden;
    border:1px solid gray;
    border-top:none;
}

table.cpuGrid td{
    border:1px solid gray;
}
a.sortColumnHeaderLink{
    height:20px;
    overflow: hidden;
}



/*
thead.fixedHeader{
    position:absolute;
    margin-top:-80px;
    background-color:#e8e8e8;
}

#cpu-grid-table-container{
    margin-top:80px;
}
*/

div.celltext{
    overflow:hidden;
    white-space: nowrap;
}
th div.celltext  {
    height: 30px;
}

#cpu_grid_table_container,
#cpu_grid_table_body,
#gridTableHeader{
    position:relative;
}
#gridTableHeader{
    z-index:5;
    position:absolute;
    background-color:white;
}

#cpu_grid_table_body{
    z-index:4;
}
#cpu_grid_table_container{
    border-top:1px solid white;
}
#cpu_grid_table_body{
    top:85px;
}