/* navigation menu */

span.menu{
    padding: 0px;
    margin: 0px;
    display:inline-block;
}
span.menuheader{
    padding: 0px;
    margin: 0px;
    display:inline-block;

}
span.menuheader:hover{

}

span.menutitle,span.menuarrow{
    margin: 0px;
    display:inline-block;

    vertical-align:middle;
}


span.menuarrow:hover{

}


span.menuitems{
    display: none;
    position: absolute;
    min-width:200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
}

span.menuitems a{
    display: block;
    padding:10px;
}
span.menuitems a:hover{

}


span.context{

}