
tr#gridColumnDragger td{
    cursor:move;
    font-size: 5pt;
    background-color: #e0e0e0;
    border-bottom: none;
}
tr#gridColumnDragger td:hover{
    background-color: chartreuse;
}
input.viewElementWidth{
    width:40pt;
    margin-right:5pt;
}
div.grid-width-slider{
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 16px;
    border-top-color: #e0e0e0;
    border-top-style: solid;
    border-top-width: 16px;
    cursor: e-resize;
    float: right;
    height: 0px;
    width: 0px;
}
div.grid-width-slider:hover{
    border-top-color:blue;
}
div.grid-context-menu{
    background-color: silver;
    padding: 3pt;
    position: absolute;
}
div.grid-context-menu a{
    display: block;
}
div.grid-context-menu a:hover{
    background-color: yellow;
}

#gridPropertyViewJSON{
    height:1px;
    width:1px;
    border:none;
    padding:0px;
    color:#eee;
    display:block;
    float:right;
    opacity:0;
}