h2 {
    text-align: center
}

table, th, td { 
    border: 1px solid #000; 
    border-collapse:collapse; 
    padding:10px;
}

/*table { border-collapse:collapse; margin: auto; }*/

/*td { padding:10px;}*/

td.btnrow { 
    border: 1px solid #fff; text-align: right
}

td.btnrowright { 
    border: 1px solid #fff; 
    text-align: right;
    width: 81%
}

td.lbl {
    text-align: right
}

#master-table{
    text-align: center;
    border-style: groove;
    border-width: 1px;
}

#master-table td{
    border-style: ridge;
    border-width: 1px;
    padding: 0px;
    min-width: 15px;
    min-height: 15px;
    font-size: 10pt;
}


#master-table td table{
    border-style: none;
    width: 100%;
}


.v-text{
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback { font-size: 1.4em; }
.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }
#course-data-first { list-style-type: none; margin: 0; padding: 0; }
#course-data-first li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }

.kinds{
    display: none;
}

.kind-status{
    font-style: italic;
    
}