* {padding: 0; margin: 0}

/* Форматируем ячейки Grid */
table.t-data-grid tbody tr td{
    font-size: 9pt;
    color: black;
    background-color: #e5ecf5;
}

/* Форматируем ячейки заголовков для Grid, выбора страниц в Grid, и панели авторизации */
table.t-data-grid thead tr th,
.t-data-grid-pager a,
.topusername,
.td-user-logout,
.t-palette-title{
    text-decoration: none;
    background-image: url(images/table_head.png);
}

/* Форматируем текст заголовков для Grid */
table.t-data-grid thead tr th a,
.t-palette-title{
    font-size: 10pt;
    color: #15428b;
    text-decoration: none; /* Убираем подчеркивание */
}

/* Форматируем текст заголовков для PropertyBlocks в Grid так же, как и для обычных заголовков*/
table.t-data-grid th.licenseQuantityByEducationForm{
    font-size: 10pt;
    color: #15428b;
    text-decoration: none; /* Убираем подчеркивание */
}

/* Выделяем ячейку с классом name, disciplineNumber в Grid */
table.t-data-grid td.name, table.t-data-grid td.disciplineNumber{
    background-color: #d8e3f9
}
/* Выделяем серым цветом ячейки с кнопками в Grid */
table.t-data-grid td.action{
    background-color: #d7d7d7;
}

.topuser{
    background-image: url(images/td_action.gif);
}

/* Выделяем строку в Grid при наведении курсора мыши */
table.t-data-grid tbody tr:hover td{
    background-color: #fffff3;
}

/* Выравниваем данные в некоторых колонках Grid по центру */
.t-data-grid .code,                          .t-data-grid .isObsolete,
.t-data-grid .shortName,                     .t-data-grid .action,
.t-data-grid .isTrainingDirection,           .t-data-grid .isKnowledgeArea,
.t-data-grid .stationaryStudentLicenseQuantity,
.t-data-grid .correspondenseStudentLicenseQuantity,
.t-data-grid .terminationDate,               .t-data-grid .eduPlanSemester,
.t-data-grid .isExam,                        .t-data-grid .isCredit,
.t-data-grid .isCourseWork,                  .t-data-grid .isControlWork,
.t-data-grid .disciplineTotalHoursPerRecord, .t-data-grid .lecturesHours,
.t-data-grid .labsHours,                     .t-data-grid .practicesHours,
.t-data-grid .disciplineNumber,              .t-data-grid .KATDCode,
.t-data-grid .educationalQualificationLevel, .t-data-grid .trainingTerm,
.t-data-grid .introducingDate,               .t-data-grid .disciplineTotalHourVolume,
.t-data-grid .isMandatory,                   .t-data-grid .eduPlanDisciplineCycleNumber,
.t-data-grid .eduplan,                       .t-data-grid .isRegulatory,
.t-data-grid .ePPCycleTotalHours,            .t-data-grid .eduWeekAmount,
.t-data-grid .licenseQuantityByEducationForm, .t-data-grid .knowledgeAreaOrTrainingDirectionCode
{
    min-width: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Граница окна ошибки */
.error-report-table {
    border: 1px solid Red
}

/* Загловок окна ошибки и панели авторизации */
.error-report-table .title-error-report, .td-user-login{
    background-image: url(images/td_error.png);
    color: #ffff99;
    font-weight: bold;
}

/* Содержимое окна ошибки */
.error-report-table .title-error-report-mes{
    background-image: url(images/td_error_rep.png);
    color: #FF0000;
    font-weight: bold;
}

.post .title h2{
    font-size: 1.8em;
}

/* Панель авторизации */
.userntable{
    float: right;
    border: 1px solid #1692B8;
    margin-right: 10px;
    display: none;
}

/* Левая граница панели авторизации */
.topuser{
    color: black;
    font-weight: bold;
}
/* Правая граница панели авторизации */
.topusername{
    color: #15428b;
    font-weight: bold;
}
/* Кнопка выхода */
.user-logout{
    background-image: url("images/td_exit.png");
    width: 32px;
    height: 32px;
}
/* Кнопка входа */
.user-login{
    background-image: url(images/td_key_enter.png);
    width: 32px;
    height: 32px;
}
/* Картинка с изображением университета на главной странице */
#sp_logo1{
    background-image: url(images/klas_pryvat_univer.jpg);
    width: 500px;
    height: 325px;
    display: none;
}
/* Текст приветствия на главной странице */
#wlctocpu{
    text-align: center;
    display: none;
}
/* Ссылки в ListView */
.post > .entry > div > a{
    color: black;
    font-weight: bold;
    font-size: 10pt;
}
/* Ссылки в ListView при наведении */
.post > .entry > div > a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
/* Меню */
span.menutitle{
    padding: 10px;
    font: 12px Arial,Helvetica, sans-serif;
}

span.menutitle a{
    text-decoration: none;
    color: #ffff99;
}

/*--------------------------*/
/* Ширина колонок в таблице */
th.disciplineTotalHourVolume,th.ePPCycleTotalHours,
th.eduWeekAmount,th.isObsolete, th.isMandatory,
th.disciplineTotalHoursPerRecord, th.practicesHours
{
    max-width: 80px;
}

td.name, td.discipline
{
    max-width: 220px;
}

td.eduPlanDisciplineCycle{
    max-width: 250px;
}

th.knowledgeAreaOrTrainingDirection{
    max-width: 180px;
}

th.shortName{
    max-width: 60px;
}
/*--------------------------*/

/* t-beaneditor */
div.t-beaneditor{
    background-color: #fffff5;
}
/* Изменяем шрифт и высоту линии в t-beaneditor */
.t-beaneditor-row label{
    color: black;
    line-height: 100%;
    font-size: 13px;
}

/* Оформление многострочного поля редактирования.
Например, в отчетах и шаблонах страниц */
textarea#body{
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-color: #DFDFDF;
}
/* Оформление многострочного поля. При фокусировке
поле становится светлым */
textarea#body:focus{
    background-color: inherit;
}

/* Оформление ссылок. Они приобретают вид кнопок. */
.btnwicon, .t-crud-new-object{
    -moz-border-radius: 8px 8px 8px 8px;
    background-image: url(images/white000.jpg) repeat-x scroll 0 0 transparent;
    border: 1px solid #DFDFDF;
    color: #999999;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    margin: 0 10px 10px 0;
    padding: 0 10px 0 50px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
    border-radius: 12px;
}

/* Оформление ссылок. При наведении появляется эффект фокусировки */
.btnwicon:hover,.t-crud-new-object:hover{
    background: none repeat scroll 0 0 #F8F8F8;
    border-color: #CACACA;
}

/* Оформление картинок внутри кнопок */
.bticon{
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    left: 9px;
    position: absolute;
    top: 6px;
    width: 32px;
}

/* Кнопка добавления записи */
#recordAdd{
    background-image: url(images/add00000.png);
}

/* Кнопка списка записей - grid */
#recordList{
    background-image: url(images/page0000.png);
}

/* Применяется для элементов, в которых текст должен быть по выровнен по
правому краю */
.f-right{
    text-align: right;
}

/* Применяется в beaneditor, для элементов loop, для того чтобы не нарушать
структуру формы */
.t-loop .f-right{
    width: 250px;
    color: #000000;
}
