/* ОБЩЕЕ */
/* Картинка с изображением университета на главной странице */
#sp_logo1{
    background-image: url(../images/klas_pryvat_univer.jpg);
    width: 500px;
    height: 325px;
    display: none;
}
/* Текст приветствия на главной странице */
#wlctocpu{
    text-align: center;
    display: none;
}
/* Ссылки в MenuNavigator */
.post > .entry > div > a{
    color: black;
    font-weight: bold;
    font-size: 10pt;
}
/* Ссылки в MenuNavigator при наведении */
.post > .entry > div > a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
/* Название страницы */
div.title h2{
    font-size: 26pt;
}
/* Стиль левой части(наименований свойств в beandisplay) */
dt{
    font-weight: bold;
}

/* ЧАСТЬ 1 Grid */
/* ЧАСТЬ 1.1 Ячейки Grid */
/* Форматирование ячеек заголовков для Grid, выбора страниц в Grid */
table.t-data-grid,
.t-data-grid-pager a,
.t-palette-title{
    text-decoration: none;
    white-space: normal;
}
/* Форматирование текста заголовков для Grid */
table.t-data-grid thead tr th a,
.t-palette-title{
    font-size: 10pt;
    text-decoration: none; 
}
/* Форматирование ячеек Grid */
table.t-data-grid tbody tr td{
    font-size: 9pt;
}

/*
table.t-data-grid tr:nth-child(even) {
    background-color: #d8e3f9;
}*/
/* Выравнивание данных в некоторых колонках Grid по центру */
.t-data-grid .code,                          .t-data-grid .isObsolete,
.t-data-grid .isTrainingDirection,           .t-data-grid .isKnowledgeArea,
.t-data-grid .stationaryStudentLicenseQuantity,
.t-data-grid .correspondenseStudentLicenseQuantity,
.t-data-grid .termination,                   .t-data-grid .eduPlanSemester,
.t-data-grid .isExam,                        .t-data-grid .isCredit,
.t-data-grid .isCourseWork,                  .t-data-grid .isControlWork,
.t-data-grid .licenseQuantityByEducationForm,.t-data-grid .knowledgeAreaOrTrainingDirectionName,
.t-data-grid .trainingDirectionOrSpeciality, .t-data-grid .shortName,
.t-data-grid .serial,                        .t-data-grid .firstName,
.t-data-grid .patronymicName,                .t-data-grid .surname,
.t-data-grid .academicRank,                  .t-data-grid .knowledgeAreaOrTrainingDirection
{
    min-width: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Выравнивание кнопок в Grid */
.t-data-grid .action{
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
}
/* Форматирование ячеек для названий организационных едениц */
.t-data-grid .orgUnit{
    min-width: 160px;
}
/* Форматирование ячеек для названий области знаний или направления */
.t-data-grid .knowledgeAreaOrTrainingDirectionName{
    max-width: 180px;
}

/* ЧАСТЬ 2 BeanEditor */
/* ЧАСТЬ 2.1 Кнопки в BeanEditor, BeanDisplay */
/* ЧАСТЬ 2.2 Блоки в BeanEditor и BeanDisplay */
/* После input контент не должен переносится на новую строку */
.t-beaneditor-row input[type="text"]{
    display: inline;
}
/* Ограничение на select в Bean Editor */
.t-beaneditor-row select{
    max-width: 400px;
}
/* ЧАСТЬ 2.3 Другое в BeanEditor, BeanDisplay */
/* Размер шрифта в BeanEditor */
DIV.t-beaneditor{
    font-size: 9pt;
}
/* Размер шрифта и цвет для BeanDisplay */
dl.t-beandisplay{
    font-size: 9pt;
}

/* ЧАСТЬ 4 Меню */
/* ЧАСТЬ 4.1 Формат меню */
/* Формат пунктов меню */
span.menutitle{
    padding: 10px;
    font: 12px Arial,Helvetica, sans-serif;
}
/* Формат ссылок в пунктах меню */
span.menutitle a{
    text-decoration: none;
    color: #ffff99;
}
/* ЧАСТЬ 5 Дополнительные модули */
/* ЧАСТЬ 5.1 Стиль отображения дополнительных модулей */
/* Стиль для отображения подсказки */
#easyTooltip{
    padding:5px;
    color: white;
    border:1px solid #ccc;
    background: #99ccff;
    font-style: italic;
    border-bottom-width: 1px;
    border-color: #ffff99;
    background-image: url(../images/ToolTipBg.gif);
}

/* ЧАСТЬ 6 Работа со слоями */
/* ЧАСТЬ 6.1 Установка слоев */
/* Кнопки в Grid */
.crud-links{
    z-index: 1;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
/* Элементы меню */
.menuitems{
    z-index: 3;
}
/* Всплывающие подсказки валидации */
.t-error-popup{
    z-index: 100;
}

/* ЧАСТЬ 7 Работа с PropertyBlocks */
/* ЧАСТЬ 7.1 Стили для PropertyBlocks */
/* Формат левой части PB для вставки в BeanEditor */
.t-loop .f-left{
    width: 250px;
    color: #000000;
    text-align: right;
}
/* Формат отступа от левой части */
.t-loop .text{
    margin: 0 0 0 1.1em;
}
/* Контейнер, содержащий циклы в пл.уч.процесса */
#eduPlanPBContainer{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 200px;
    overflow-x: scroll;
    border-style: solid;
    border-color: cornflowerblue;
    background-color: #99ccff;
}

/* Таблица, содержащая циклы в пл.уч.процесса */
#eduPlanPBContainerTable{
    width: 100%;
}

/* Системные надписи на форме. Например, 'AddRow' */
.t-forminjector{
    font-weight: bold;
}

/* Ссылка на добавление цикла при редактировании учебного плана */
#eduPlanAddCycleLink{
    margin-top: 4px;
    margin-left: 4px;
}

/* Оформление блока для beaneditor и beandisplay */
DIV.t-beaneditor, dl.t-beandisplay
{
    border: 2px solid green;
    padding: 2px;
    border-style: ridge;
    border-color: cornflowerblue;
}

/* Оформление submit в beaneditor */
input.t-beaneditor-submit
{
    position: relative;
    left: 150px;
}

/* Ширина поля выбора в beaneditor */
.t-beaneditor-row select{
    width: 400px;
}

/* Заголовки в grid */
table.t-data-grid thead tr th{
    border-style: ridge;
    border-width: 1px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    background-position: 100% 100%;
    white-space: normal;
}

/* Установка переднего плана для календаря */
.datePicker{
    z-index: 1;
}

#popupZone{
    background-color: transparent;
}

.no-background{
    background-image: none;
}
/* Текстовые поля */
textarea{
    width: 398px;
    height: 50px;
}

.ui-button{
    display: inline;
}

/* Индикатор загрузки всплывающего окна */
div.ajax-state-grid{
    width: 80px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/ajax-state-80x12-windows.gif);
}

/* Стиль всплывающих кнопок в grid */
.ui-grid-cell-action-tip {
    display:none;
    font-size:12px;
    height:30px;
    color:#fff;	
    margin-left: 30px;
    margin-top: 10px;
    z-index: 1;
}
/* Небольшой фикс стандартного стиля */
TABLE.crud-links TBODY TR TD{
    background-color: transparent;
    background-image: none;
}
/* Окно загрузки Ajax */
#ui-ajax-loading-window{
    display: none;
}
/* Контейнер с картинкой в окне загрузки */
#ui-ajax-loading-window span div{
    float: right;
}
/* Картинка в окне загрузки Ajax */
.ui-ajax-loading-window-icon{
    background-image: url(../images/database_refresh.png);
    height: 32px;
    width: 32px;
}
/* Полоса загрузки в окне загрузки */
.ui-ajax-loading-window-load{
    margin-top:5px;
    background-image: url(../images/ajax/ajax-state-78x7.gif);
    background-repeat: no-repeat;
    width: 80px;
    height: 10px;
}

